.close-btn {
  position: relative;
  top: 90px;
  right: 45px;
  border-radius: 50%;
  background-color: #6b6a6a;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  height: 32px;
  color: #ff0000;
}
