    .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    border: 2px solid #bac0c7;
    margin: 20px;
    width: 80%;
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
  }

  .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
  }

  .card p {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  .card button {
    background-color: #30537a;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    color: #fdfdfd;
    cursor: pointer;
    transition: all 0.3s ease;
  }

.card button:hover {
    transition: all 0.3s ease;
  background-color: #1d2d44;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
