.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  position: relative;
  top: 110px;
  right: 45px;
  border-radius: 50%;
  background-color: #6b6a6a;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  height: 32px;
  color: #ff0000;
}

.close-btn:hover {
  background-color: #ff0000;
  color: #fff;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.slidercontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.categorycontain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6px;
  padding: 10px 70px;
  border-radius: 10px;
  background-color: #30537a;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.categorycontain:hover {
  background-color: #ff0000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }

  .close-btn {
    position: relative;
    top: 20px;
    right: 0;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
