.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.checkout-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.form-group label {
  font-size: 1.2rem;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.btn-submit {
  width: 100%;
  margin-top: 1rem;
}

.btn-submit,
.btn-submit:active {
  background-color: #f0c040;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn-submit:focus {
  outline: none;
}

.btn-submit:hover {
  background-color: #28c528;
  color: #fff;
}
